<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{/layout/index :: setContent(~{this::content})}">
  <th:block th:fragment="content">
    <h1 class="my-3">Guestbook Modify Page</h1>

    <form th:action="@{/templates/board/modify}" method="post">
      <div class="form-group">
        <label for="gno">gno</label>
        <input type="text" class="form-control" name="gno" placeholder="gno" id="gno" th:value="${dto.gno}" modify>
      </div>
      <div class="form-group">
        <label for="title">Title</label>
        <input type="text" class="form-control" name="title" placeholder="title" id="title" th:value="${dto.title}" >
      </div>
      <div class="form-group">
        <label>Content</label>
        <textarea class="form-control" id="content" name="content" placeholder="Content"  modify="modify">[[${dto.content}]]</textarea>
      </div>
      <div class="form-group">
        <label>Writer</label>
        <input type="text" class="form-control" id="writer" name="writer" placeholder="Writer" th:value="${dto.writer}" readonly>
      </div>
      <div class="form-group">
        <label>regDate</label>
        <input type="text" class="form-control" id="regDate" name="regDate" placeholder="regDate" th:value="${dto.regDate}" readonly>
      </div>

      <div class="form-group">
        <label>modDate</label>
        <input type="text" class="form-control" id="moDate" name="modDate" placeholder="modDate" th:value="${dto.modDate}" readonly>
      </div>


      <input type="hidden" name="page" th:value="${pageDto.page}" />
      <input type="hidden" name="size" th:value="${pageDto.size}" />
      <input type="hidden" name="type" th:value="${requestDto.type}"/>
      <input type="hidden" name="keyword" th:value="${requestDto.keyword}"/>

      <button type="submit" class="btn btn-primary" onclick="return confirm('수정하시겠습니까?')">Modify</button>
      <a th:href="@{/templates/board/list(page = ${pageDto.page}, size = ${pageDto.size}, type=${requestDto.type}, keyword=${requestDto.keyword})}" class="btn btn-primary mt-3">List</a>
      <button type="submit" class="btn btn-danger" formaction="remove" onclick="const result = confirm('삭제하시겠습니까?'); if(result){document.querySelector('[name=page]').value =1;} return result;">Remove</button>
    </form>
  </th:block>
</th:block>
</html>