<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{/layout/index :: setContent(~{this::content})}">
  <th:block th:fragment="content">
    <h1>Guestbook Read Page</h1>

    <div class="form-group">
      <label for="bno">bno</label>
      <!--gno → bno -->
      <input type="text" class="form-control" name="bno" id="bno" th:value="${dto.bno}" readonly>
    </div>
    <div class="form-group">
      <label for="title">Title</label>
      <input type="text" class="form-control" name="title" id="title" th:value="${dto.title}" readonly>
    </div>
    <div class="form-group">
      <label>Content</label>
      <textarea class="form-control" name="content" readonly>[[${dto.content}]]</textarea>
    </div>
    <div class="form-group">
      <label>Writer</label>
      <input type="text" class="form-control" name="writerName" th:value="${dto.writerName}" readonly>
    </div>
    <div class="form-group">
      <label>regDate</label>
      <input type="text" class="form-control" name="regDate"
             th:value="${#temporals.format(dto.regDate,'yyyy/MM/dd')}" readonly>
    </div>
    <!-- th:if{...} → th:if="..." -->
    <div class="form-group" th:if="${dto.modDate != null}">
      <label>modDate</label>
      <input type="text" class="form-control" name="modDate"
             th:value="${#temporals.format(dto.modDate,'yyyy/MM/dd')}" readonly>
    </div>

    <a th:href="@{/board/modify(page=${requestDto.page}, size=${requestDto.size}, bno=${dto.bno}, type=${requestDto.type}, keyword=${requestDto.keyword})}"
       class="btn btn-primary mt-3">modify</a>
    <a th:href="@{/board/list(page=${requestDto.page}, size=${requestDto.size}, type=${requestDto.type}, keyword=${requestDto.keyword})}"
       class="btn btn-primary">List</a>
  </th:block>
</th:block>

<script>
  //전역변수로 counter 0
  // 10 ** 3 =1000 이되는거다 뒤에0을붙혀주는것

  let counter = 0;
  function callLocal(n, cb){
    const add =10 ** n;
    counter += add;
    console.log(`[local] 10^${n} = ${add} -> counter : ${counter}`);
    if (cb) cb();
  }
  function callAsync(n, cb){
    const add =10 ** n;
    const delay = Math.floor(Math.random() * 1000); // 0~ 999사이의 난수로나옴

    setTimeout(() => {
    counter += add;
    console.log(`[async] 10^${n} = ${add} -> counter : ${counter}, delay: ${delay}ms`);
    if (cb)cb();
    },delay);
  }

  //callback

  callAsync(0, () => {
    callAsync(1, () => {
      callAsync(2, () => {
        callAsync(3, () => {
          callAsync(4, () => {
            callLocal(5, () => {
              callLocal(6, () => {
                callLocal(7, () => {
                  callLocal(8, () => {
                    callLocal(9, () => {
                      console.log("내가 마지막!!")
                    });
                  });
                });
              });
            });
          });
        });
      });
    });
  });

      //이게 저위에 처럼 콜백해서 바뀔수있음 저위에처럼 되면 순서대로나옴
  // callAsync(0);   랜덤 딜레이 후 실행 (순서 예측 X)
  // callAsync(1);
  // callAsync(2);
  // callAsync(3);
  // callAsync(4);
  //
  // callLocal(5);  // 즉시 실행
  // callLocal(6);
  // callLocal(7);
  // callLocal(8);
  // callLocal(9);

  // $.ajax({
  //   success: (date) => {
  //     $.ajax({
  //       success:(date) => {
  //
  //       }
  //     })
  //   }
  // })
  // $.ajax({
  //   success: (data) => {
  //   },
  //   error: (error) => {
  //   },
  //   finally: (data) => {
  //   }
  // })
  //     .done((data) => {
  //
  //     })
  //     .fail(error => {
  //
  //     })
  //     .always((data) => {
  //
  //     })
  //     .done((data) => {
  //     })

</script>
</html>
